@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        visibility: hidden;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}


/* .portrait {
    margin-right: 5%;
    background-position: center;
    margin-top: 4.5rem;
    height: 120px;
    width: 112px;
    float: left;
    background-color: black;
    border-radius: 5rem;
    background-image: url("img/2nniue.jpg");
} */

.bio {
    padding: 9%;
}

.biowrapper {
    float: left;
    padding-bottom: 7%;
    margin: auto;
    line-height: 35px;
    width: 610px;
}

@media screen and (max-width:1000px) {
    .bio {
        padding-top: 40%;
    }

    .biowrapper {
        padding-bottom: 30%;
    }
}

@media screen and (min-width:2230px) {
    .bio {
        padding-bottom: 5%;
    }

    .biowrapper {
        padding-left: 20%;
        padding-bottom: 4%;
    }
}

.welcome {
    font-weight: bold;
    font-size: 60px;
    letter-spacing: .5rem;
    color: #83385C;
}

.welcome:after {
    font-family: sans-serif;
    content: "!";
    color: black;
}

.im {
    letter-spacing: .7rem;
    color: grey;
    font-size: 50px;
}

.name {
    animation: 1s ease-out 1s 1 slideInFromLeft;
    letter-spacing: .5rem;
    color: black;
    font-size: 80px;
    word-spacing: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.divider {
    display: flex;
    width: 610px;
    padding-top: 3rem;
    color: black;
}

.divider::before,
.divider::after {
    content: "";
    height: 1px;
    background-color: black;
    flex-grow: 1;
}

.skillnode {
    margin-top: -2.5rem;
    animation: 1.3s ease-out 1.3s 1 slideInFromLeft;
}

.innernode {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    height: 22px;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: black;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}


.node-separtor {
    font-weight: bold;
    font-size: 30px;
    color: darkgray;
}

.innernode:hover {
    box-shadow: inset 300px 0 0 0 black;
    opacity: 70%;
    cursor: pointer;
    transform: translateY(-7px);
    height: 40px;
    width: 70px;
    text-shadow: 1px 1px 2px #504545;
    color: white;
}