body {
    background-color: #C8D3BD;
}

@keyframes onload {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.menu {
    font-size: 60px;
    font-weight: bolder;
}


.menu::before {
    content: "<";
}

.menu::after {
    content: ">";
}

.menu:hover {
    opacity: 70%;
    text-shadow: 3px 3px 7px black;
    font-size: 60px;
    color: white;
    letter-spacing: 1.4rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;


}


.menubody {
    position: relative;
    top: 70%;
    text-align: center;
    height: 100%;
    width: 100%;

}

.panel {
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: .2rem;
}

/* .panel:hover {
    height: 400px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;

} */

.in {
    -webkit-transition: all 1s ease;
    transition: "in:wipe:cinematic";
}

.out {
    -webkit-transition: all 1s ease;
    transition: "out:wipe:cinematic";
}

#codepanel {
    display: flex;
}


.innerpanel {
    animation: onload 2s;
    height: 300px;
    filter: grayscale(1);
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.innerpanel:hover {
    height: 300px;
    width: auto;
    filter: grayscale(0);
    transform: translateY(-7px);
    box-shadow: 7px 7px 7px 2px rgba(0, 0, 0, 0.3);
}

.space-between {
    width: 3rem;
}

.space-between-projects {
    width: 3rem;
}


.codeheadline {
    position: absolute;
    color: azure;
    background-color: #83385C;
    font-size: 40px;
    z-index: 100;
}

#projectspanel {
    display: flex;
}


#transitions::before {
    border-radius: 5px;
    padding: .5rem;
    margin-left: 2rem;
    margin-top: -1rem;
    z-index: 1;
    content: "Transitions - JS";
    background-color: #83385cCC;
    color: azure;
    position: absolute;
    display: block;
}

#recyclerview::before {
    border-radius: 5px;
    padding: .5rem;
    margin-left: 2rem;
    margin-top: -1rem;
    z-index: 1;
    content: "Recycler View - Java";
    background-color: #83385cCC;
    color: azure;
    position: absolute;
    display: block;
}

#iteration::before {
    border-radius: 5px;
    padding: .5rem;
    margin-left: 2rem;
    margin-top: -1rem;
    z-index: 1;
    content: "Iteration - JS";
    background-color: #83385cCC;
    color: azure;
    position: absolute;
    display: block;
}

#activity::before {
    border-radius: 5px;
    padding: .5rem;
    margin-left: 2rem;
    margin-top: -1rem;
    z-index: 1;
    content: "Activity Navigation - Kotlin";
    background-color: #83385cCC;
    color: azure;
    position: absolute;
    display: block;
}


#restaurantApp::before {
    border-radius: 5px;
    padding: .5rem;
    margin-left: 1.7rem;
    margin-top: -1rem;
    z-index: 1;
    content: "Restaurant App";
    background-color: #83385cCC;
    color: azure;
    position: absolute;
    display: block;
}

#blackjack::before {
    border-radius: 5px;
    padding: .5rem;
    margin-left: 2rem;
    margin-top: -1rem;
    z-index: 1;
    content: "BlackJack - Java";
    background-color: #83385cCC;
    color: azure;
    position: absolute;
    display: block;
}

#mapty::before {
    border-radius: 5px;
    padding: .5rem;
    margin-left: 2rem;
    margin-top: -1rem;
    z-index: 1;
    content: "Mapty - JS";
    background-color: #83385cCC;
    color: azure;
    position: absolute;
    display: block;
}

#dragonChronicles::before {
    border-radius: 5px;
    padding: .5rem;
    margin-left: 1rem;
    margin-top: -1rem;
    z-index: 1;
    content: "Dragon Chronicles";
    background-color: #83385cCC;
    color: azure;
    position: absolute;
    display: wrap;
}

@media screen and (max-width:1000px) {
    #projectspanel {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        row-gap: 20px;
    }

    .space-between-projects {
        display: none;
    }


}

@media screen and (max-width:1380px) {
    #codepanel {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 20px;

    }

    #restaurantApp::before {
        margin-left: 5.3rem;
    }

    .space-between {
        display: none;
    }
}

@media screen and (max-width:770px) {
    #restaurantApp::before {
        margin-left: 7.8rem;
    }

    #mapty::before {
        margin-left: 4rem;
    }

    #blackjack::before {
        margin-left: 4rem;
    }
}

@media screen and (min-width:770px) {
    #codepanel {
        justify-content: center;
    }

    #projectspanel {
        justify-content: center;
    }

}

@media (hover:hover) and (max-width:505px) {
    .menu:hover {
        font-size: 40px;
        letter-spacing: .5rem;
    }
}

@media screen and (min-height:1000px) {
    .menubody {
        top: 45%;
    }
}

@media screen and (max-width:1241px) {
    .menubody {
        top: 50%;
    }
}

@media screen and (max-width:670px) {
    .menubody {
        top: 55%
    }
}

@media screen and (max-width:649px) {
    .menubody {
        top: 60%
    }
}