body{
    background-color:white;

    
}

.head{
    letter-spacing: 1rem;
    border-top-left-radius: -2rem;
    border-bottom-left-radius: -2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(78, 78, 78);
    margin-left: 30%;
    margin-right: 30%;
    content: none;
    color: white;
    font-size: 36px;
    word-spacing: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.menu{
    font-size: 40px;
    font-weight: bolder;
    
}

.menu::before{
    content: "<";
}
.menu::after{
    content: ">";
}

.menu:hover{
    font-size: 50px;
    color: blue;
    letter-spacing: 3rem;
    -webkit-transition: all 1s ease;
    transition: all 1.3s ease;

  
}

.bio{
    text-align: center;
    position: absolute;
    top: 13%;
    margin: auto;
    width: 100%;

}

.divider {
    --text-divider-gap: 1rem;
    display: flex;
  align-items: center; 
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    color: black;
    margin-bottom: 2%;
  }

  .divider::before,
  .divider::after{
    content: "";
    height: 1px;
    background-color: black;
    flex-grow: 1;
  }

  /* .divider::before{
    margin-right: var(--text-divider-gap);
  }
  
  .divider::after{
    margin-left: var(--text-divider-gap);
  } */

  .panel{
    height: 230px;
    margin-left: 9%;
    margin-right: 9%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: .2rem;
}

.panel:hover{
    height: 400px;
    -webkit-transition: all 1s ease;
    transition: all 1.3s ease;

}

.in{
    -webkit-transition: all 1s ease;
    transition: "in:wipe:cinematic";
}

.out{
    -webkit-transition: all 1s ease;
    transition: "out:wipe:cinematic";
}


#about:active + .biotext{
    display: block;
}

  #biotext{
    padding-left: 8rem;
    border-top-color: white;
    text-align: left;
    /* border-style: inset; */
    background-color: black;
    color: white;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    display: none;
    font-size: 16px;
    line-height: 20px;
}

#codepanel{
    background-image: url("img/pixelcloudcastle.png") ;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
 
}

#otherpanel{
    background-image: url("img/dragonIsland.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;

}

#contactpanel{
    /* background-image: url("img/dragonmouth.jpg"); */
    margin-bottom: 10%;
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    display: inline-block;
}

#contacts:hover + .contacts{
    display: block;
}

/* .contacts{
    display: none;
} */

  .contacts ::after{
    margin-top: 4%;
    color: black;
  }

  /* .contactlink::after{
    content: "  |  ";
    color: black;
    text-decoration: none;
  } */

  .contactlink{

    height: 100px;
    width: 100px;
    background-position: center; 
    object-fit: fill;
    background-repeat: no-repeat;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  #github{
    float:left;
    background: url("img/github-mark.png");
    background-color: grey;
  }

  #linkedIn{
    float:left;
    background-image: url("img/Sicons-Flat-Shadow-Social-Linkedin.512.png");
  }

  #gmail{
    float:right;
    background-image: url("img/Gmail_Logo_128px.png");
  }

  #hotmail{
    background-image: url("img/hotmail.png");
  }



  @keyframes wipe-cinematic-in {
    0% {
      clip-path: inset(100% 0 100% 0);
    }
    30%, 70% {
      clip-path: inset(10% 0 10% 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:cinematic"] {
     animation-name: wipe-cinematic-in;
  }

  @keyframes wipe-cinematic-out {
    0% {
      clip-path: inset(0 0 0 0);
    }
    30%, 70% {
      clip-path: inset(10% 0 10% 0);
    }
    100% {
      clip-path: inset(100% 0 100% 0);
    }
  }
  
  [transition-style="out:wipe:cinematic"] {
    animation-name: wipe-cinematic-out;
  }